.country {
  border: 2px solid blueviolet;
  padding: 5px 5px;
  margin: 8px 4px;
  border-radius: 12px;
}


.visited-bg {
  background: rgba(190, 4, 190, 0.285);
}

.visited-flags img {
  width: 200px;
}
