.country {
  border: 2px solid blueviolet;
  padding: 5px 5px;
  margin: 8px 4px;
  border-radius: 12px;
}
.btn {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 12px;
  color: white;
  background: rgb(160, 95, 221);
}

.visited-btn {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 12px;
  color: white;
  background: purple;
}

.visited-bg {
  background: rgba(190, 4, 190, 0.285);
}
